<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="connString" connectionString="Data Source=VAIO;Initial Catalog=PCB;Integrated Security=True;" />
        <add name="PCB.Properties.Settings.PCBConnectionString" connectionString="Data Source=VAIO;Initial Catalog=PCB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>